.active-menu {
    font-size: 1.2em;
    font-weight: 600;
    cursor: default;
}

.active-menu:hover {
color: black;

}

.login {
    max-width: 379px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 355px;
}

.login h2 {
    text-align: center;
}

.login .form-group {
    display: flex;
    flex-direction: column;
}

.login p {
    text-align: center;
}

.login p a{
    color: black;
}

input[type="submit"] {
    cursor: pointer;
}

.error {
    text-align: right;
    padding-top: 10px;
    color: #B1663C;
}

input[type="submit"]+.error {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 600;


}

input.validate {
    font-weight: 600;
    color: #1D6154;
}

 input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  /* Revert text color */
  -webkit-text-fill-color: #1D6154 !important;
  color: #1D6154 !important;
  caret-color: white !important;
    /* Revert background color */
    transition: background-color 5000s ease-in-out 0s;
}

